body{
  font-family: 'Poppins', sans-serif;
  margin:0px;
}
h1{
  font-size: 50px;
}
span{
  color:rgb(51, 255, 0);
}
.realable-container
{
  display: flex;
}
.half-width
{
  width: 50%;
  padding-left: 5%;
}
.half-width img{
  width: 80%;
}

.half-width h5
{
width:82%;
}
.link-button
{
  text-decoration: none;
  background-image: linear-gradient(rgb(157, 255, 137),rgb(0, 255, 0));
  color:black;
  padding:5px 15px;
  border-radius:5px;
  font-weight: 700;
}
.long-way 
{
  margin-top: 100px;
  background-image: url(images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.long-way  span
{
  color: #FE6415;
}
.link-button-resume
{
  background-image: linear-gradient(rgb(255, 72, 0),red);
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: 600;
}
.experience
{
  margin-bottom:80px;
}
.experience h1
{
  text-align: center;
  background-color:rgb(0, 64, 75);
  color:rgb(51, 255, 0);
  margin: 30px 30% ;
}
.experience-item
{
  width: 40%;
  box-shadow: 10px 10px 20px gray;
  padding: 15px;
  margin-left:5%;
  margin-right:5%;
  border-radius: 3%;
  
}
.experience-item h2{
  font-size: 40px;
 
}
#web-developer-experiece-orange {
  border-left:8px solid;
  border-bottom:8px solid;
  border-image: linear-gradient(rgb(255, 62, 3),rgb(255, 111, 67));
  border-image-slice: 1;
}
#web-developer-experiece-lemon
{
  border-left:8px solid;
  border-bottom:8px solid;
  border-image: linear-gradient(rgb(148, 250, 128),rgb(9, 255, 0));
  border-image-slice: 1;
}

.footer-part
{
  width:100%;
  height:55px;
  background-color: black;
}

.service
{
  display: flex;
  background-color:rgb(236, 236, 236) ;
}

.service-item
{
  width:25%;
  background-color: rgb(255, 255, 255);
  padding:20px;
  margin:10px 40px;
  border-right:8px solid rgb(0, 255, 21);
  border-radius: 5% 0px;
  box-shadow:10px 10px 20px gray ;
}
.service-item ol{
  list-style-type: lower-roman;
}
.service-item h2{
  color:tomato;
  text-align: center;
}
.copyrights
{
  width:70%;

}
.copyrights p
{
  float:left;
  color:white;
  margin-left:45%;
}

.social-icon
{
  width:30%;
  float:right;

}
.social-icon img{
  width:45px;
  height:45px;
  margin-right:5px
}